<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kashuo.kcp.dao.AmmeterDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.kashuo.kcp.domain.AmmeterDevice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="ammeter_number" property="ammeterNumber" jdbcType="VARCHAR" />
    <result column="meter_no" property="meterNo" jdbcType="VARCHAR" />
    <result column="ass_manage_code" property="assManageCode" jdbcType="VARCHAR" />
    <result column="rated_voltage" property="ratedVoltage" jdbcType="VARCHAR" />
    <result column="rated_current" property="ratedCurrent" jdbcType="VARCHAR" />
    <result column="max_current" property="maxCurrent" jdbcType="VARCHAR" />
    <result column="active_acc_level" property="activeAccLevel" jdbcType="VARCHAR" />
    <result column="reactive_acc_level" property="reactiveAccLevel" jdbcType="VARCHAR" />
    <result column="active_constant" property="activeConstant" jdbcType="INTEGER" />
    <result column="reactive_constant" property="reactiveConstant" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="protocol_no" property="protocolNo" jdbcType="VARCHAR" />
    <result column="software_no" property="softwareNo" jdbcType="VARCHAR" />
    <result column="hardware_no" property="hardwareNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imsi, address, meter_no,ammeter_number, ass_manage_code, rated_voltage, rated_current, max_current,
    active_acc_level, reactive_acc_level, active_constant, reactive_constant, type, product_date, 
    protocol_no, software_no, hardware_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ammeter_device
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from ammeter_device
        where imsi =
        (select imei  from ammeter_position
        where device_id = #{deviceId,jdbcType=VARCHAR})
    </select>
    <select id="selectByPositionId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from ammeter_device
        where imsi =
        (select imei  from ammeter_position
        where id = #{positionId,jdbcType=INTEGER})
    </select>
  <select id="selectByCondition" resultMap="BaseResultMap" >

    select
    <include refid="Base_Column_List" />
    from ammeter_device
  </select>
  <resultMap id="AmmeterInfoMap" type="com.kashuo.kcp.domain.AmmeterInfoResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imei" property="imsi" jdbcType="VARCHAR" />
      <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="ammeter_number" property="ammeterNumber" jdbcType="VARCHAR" />
    <result column="meter_no" property="meterNo" jdbcType="VARCHAR" />
    <result column="ass_manage_code" property="assManageCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="protocol_no" property="protocolNo" jdbcType="VARCHAR" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
    <result column="active_energy" property="activePower" jdbcType="VARCHAR" />
      <result column="gis_amap" property="gisAmap" jdbcType="VARCHAR"/>
      <result column="installer" property="installer" jdbcType="VARCHAR"/>
      <result column="create_time" property="createDate" jdbcType="TIMESTAMP" />
      <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="reverse_active_power" property="reverseActivePower" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
      <result column="online_status" property="onlineStatus" jdbcType="VARCHAR"/>
      <result column="device_model" property="deviceModel" jdbcType="VARCHAR"/>
      <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
      <result column="agreement_status" property="agreementStatus" jdbcType="VARCHAR"/>
      <result column="contact_info" property="contactInfo" jdbcType="VARCHAR"/>
      <result column="battery_status" property="batteryStatus" jdbcType="VARCHAR" />
      <result column="sensor" property="sensor" jdbcType="VARCHAR" />
      <result column="surface_distance" property="surfaceDistance" jdbcType="VARCHAR" />
      <result column="tilt_sensor" property="tiltSensor" jdbcType="VARCHAR" />
      <result column="water_level_sensor" property="waterLevelSensor" jdbcType="VARCHAR" />
      <result column="en_temperature" property="enTemperature" jdbcType="VARCHAR" />
      <result column="en_humidity" property="enHumidity" jdbcType="VARCHAR" />
      <result column="smoke_warning" property="smokeWarning" jdbcType="VARCHAR" />
      <result column="platform" property="platform" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectAmmeterInfo" resultMap="AmmeterInfoMap" parameterType="com.kashuo.kcp.dao.condition.AmmeterCondition">
      select p.id,p.imei,p.name,p.address,p.number as ammeter_number,device.meter_no,device.ass_manage_code,device.type,device.product_date,
      device.protocol_no,info.id as info_id,
      r.active_energy,CONCAT(p.amap_longitude,' , ',p.amap_latitude) as gis_amap,p.installer,p.create_time,p.remark,
      s.desc as online_status,
      info.reverse_active_power,IFNULL(info.`status`,1) as status,
      p.agreement_status,p.company_name,p.contact_info,p.device_model,
      p.platform,
      wc.battery_status,wc.sensor,wc.surface_distance,wc.tilt_sensor,wc.water_level_sensor,wc.en_temperature,wc.en_humidity,wc.smoke_warning
      from ammeter_device device
      INNER JOIN ammeter_position p on device.imsi = p.imei
      INNER  JOIN ammeter_status s on p.status= s.code
      left JOIN
      ammeter_working_info info on device.id = info.ammeter_id
      LEFT JOIN ammeter_wellcover wc on wc.position_id = p.id
      LEFT JOIN
      (select r11.* from ammeter_report r11,
      (select max(id) id from ammeter_report r12 where active_energy is not null group by ammeter_id) r13
      where r11.id = r13.id ) r on device.id = r.ammeter_id
      where  p.status !=3
      and p.device_type = #{deviceType,jdbcType=INTEGER}
      <if test="channelId != null">
         and  p.channel_id =#{channelId,jdbcType=INTEGER}
      </if>
      <if test="name != null and name != ''">
      and p.name  like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    <if test="installer != null and installer != ''">
      and p.installer  like CONCAT('%',#{installer,jdbcType=VARCHAR},'%')
    </if>
      order by device.product_date desc, p.status asc
  </select>

  <select id="selectByImsiKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from ammeter_device
    where imsi = #{imsi,jdbcType=VARCHAR}
      limit 1
  </select>

    <select id="selectByAmmeterNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from ammeter_device
        where ammeter_number = #{ammeterNumber,jdbcType=VARCHAR}
        limit 1
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ammeter_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kashuo.kcp.domain.AmmeterDevice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_device (imsi, address, meter_no, ammeter_number,
      ass_manage_code, rated_voltage, rated_current, 
      max_current, active_acc_level, reactive_acc_level, 
      active_constant, reactive_constant, type, 
      product_date, protocol_no, software_no, 
      hardware_no,channel_id)
    values (#{imsi,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{meterNo,jdbcType=VARCHAR}, #{ammeterNumber,jdbcType=VARCHAR},
      #{assManageCode,jdbcType=VARCHAR}, #{ratedVoltage,jdbcType=VARCHAR}, #{ratedCurrent,jdbcType=VARCHAR}, 
      #{maxCurrent,jdbcType=VARCHAR}, #{activeAccLevel,jdbcType=VARCHAR}, #{reactiveAccLevel,jdbcType=VARCHAR}, 
      #{activeConstant,jdbcType=INTEGER}, #{reactiveConstant,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{productDate,jdbcType=TIMESTAMP}, #{protocolNo,jdbcType=VARCHAR}, #{softwareNo,jdbcType=VARCHAR}, 
      #{hardwareNo,jdbcType=VARCHAR},#{channelId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kashuo.kcp.domain.AmmeterDevice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imsi != null" >
        imsi,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="meterNo != null" >
        meter_no,
      </if>
      <if test="assManageCode != null" >
        ass_manage_code,
      </if>
      <if test="ratedVoltage != null" >
        rated_voltage,
      </if>
      <if test="ratedCurrent != null" >
        rated_current,
      </if>
      <if test="maxCurrent != null" >
        max_current,
      </if>
      <if test="activeAccLevel != null" >
        active_acc_level,
      </if>
      <if test="reactiveAccLevel != null" >
        reactive_acc_level,
      </if>
      <if test="activeConstant != null" >
        active_constant,
      </if>
      <if test="reactiveConstant != null" >
        reactive_constant,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="protocolNo != null" >
        protocol_no,
      </if>
      <if test="softwareNo != null" >
        software_no,
      </if>
      <if test="hardwareNo != null" >
        hardware_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="meterNo != null" >
        #{meterNo,jdbcType=VARCHAR},
      </if>
      <if test="assManageCode != null" >
        #{assManageCode,jdbcType=VARCHAR},
      </if>
      <if test="ratedVoltage != null" >
        #{ratedVoltage,jdbcType=VARCHAR},
      </if>
      <if test="ratedCurrent != null" >
        #{ratedCurrent,jdbcType=VARCHAR},
      </if>
      <if test="maxCurrent != null" >
        #{maxCurrent,jdbcType=VARCHAR},
      </if>
      <if test="activeAccLevel != null" >
        #{activeAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="reactiveAccLevel != null" >
        #{reactiveAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="activeConstant != null" >
        #{activeConstant,jdbcType=INTEGER},
      </if>
      <if test="reactiveConstant != null" >
        #{reactiveConstant,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="protocolNo != null" >
        #{protocolNo,jdbcType=VARCHAR},
      </if>
      <if test="softwareNo != null" >
        #{softwareNo,jdbcType=VARCHAR},
      </if>
      <if test="hardwareNo != null" >
        #{hardwareNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kashuo.kcp.domain.AmmeterDevice" >
    update ammeter_device
    <set >
      <if test="imsi != null" >
        imsi = #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="meterNo != null" >
        meter_no = #{meterNo,jdbcType=VARCHAR},
      </if>
      <if test="assManageCode != null" >
        ass_manage_code = #{assManageCode,jdbcType=VARCHAR},
      </if>
      <if test="ratedVoltage != null" >
        rated_voltage = #{ratedVoltage,jdbcType=VARCHAR},
      </if>
      <if test="ratedCurrent != null" >
        rated_current = #{ratedCurrent,jdbcType=VARCHAR},
      </if>
      <if test="maxCurrent != null" >
        max_current = #{maxCurrent,jdbcType=VARCHAR},
      </if>
      <if test="activeAccLevel != null" >
        active_acc_level = #{activeAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="reactiveAccLevel != null" >
        reactive_acc_level = #{reactiveAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="activeConstant != null" >
        active_constant = #{activeConstant,jdbcType=INTEGER},
      </if>
      <if test="reactiveConstant != null" >
        reactive_constant = #{reactiveConstant,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="protocolNo != null" >
        protocol_no = #{protocolNo,jdbcType=VARCHAR},
      </if>
      <if test="softwareNo != null" >
        software_no = #{softwareNo,jdbcType=VARCHAR},
      </if>
      <if test="hardwareNo != null" >
        hardware_no = #{hardwareNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByImsiKeySelective" parameterType="com.kashuo.kcp.domain.AmmeterDevice" >
        update ammeter_device
        <set >
            <if test="imsi != null" >
                imsi = #{imsi,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="meterNo != null" >
                meter_no = #{meterNo,jdbcType=VARCHAR},
            </if>
            <if test="assManageCode != null" >
                ass_manage_code = #{assManageCode,jdbcType=VARCHAR},
            </if>
            <if test="ratedVoltage != null" >
                rated_voltage = #{ratedVoltage,jdbcType=VARCHAR},
            </if>
            <if test="ratedCurrent != null" >
                rated_current = #{ratedCurrent,jdbcType=VARCHAR},
            </if>
            <if test="maxCurrent != null" >
                max_current = #{maxCurrent,jdbcType=VARCHAR},
            </if>
            <if test="activeAccLevel != null" >
                active_acc_level = #{activeAccLevel,jdbcType=VARCHAR},
            </if>
            <if test="reactiveAccLevel != null" >
                reactive_acc_level = #{reactiveAccLevel,jdbcType=VARCHAR},
            </if>
            <if test="activeConstant != null" >
                active_constant = #{activeConstant,jdbcType=INTEGER},
            </if>
            <if test="reactiveConstant != null" >
                reactive_constant = #{reactiveConstant,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="productDate != null" >
                product_date = #{productDate,jdbcType=TIMESTAMP},
            </if>
            <if test="protocolNo != null" >
                protocol_no = #{protocolNo,jdbcType=VARCHAR},
            </if>
            <if test="softwareNo != null" >
                software_no = #{softwareNo,jdbcType=VARCHAR},
            </if>
            <if test="hardwareNo != null" >
                hardware_no = #{hardwareNo,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=INTEGER},
            </if>
        </set>
        where imsi = #{imsi,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.kashuo.kcp.domain.AmmeterDevice" >
    update ammeter_device
    set imsi = #{imsi,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      meter_no = #{meterNo,jdbcType=VARCHAR},
      ass_manage_code = #{assManageCode,jdbcType=VARCHAR},
      rated_voltage = #{ratedVoltage,jdbcType=VARCHAR},
      rated_current = #{ratedCurrent,jdbcType=VARCHAR},
      max_current = #{maxCurrent,jdbcType=VARCHAR},
      active_acc_level = #{activeAccLevel,jdbcType=VARCHAR},
      reactive_acc_level = #{reactiveAccLevel,jdbcType=VARCHAR},
      active_constant = #{activeConstant,jdbcType=INTEGER},
      reactive_constant = #{reactiveConstant,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      protocol_no = #{protocolNo,jdbcType=VARCHAR},
      software_no = #{softwareNo,jdbcType=VARCHAR},
      hardware_no = #{hardwareNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateWarningStatusByPrimaryKey" parameterType="com.kashuo.kcp.domain.AmmeterDevice">
        update ammeter_device
        set rsrp_warning =#{rsrqWarningFlag,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <resultMap id="BaseAddressResultMap" type="com.kashuo.kcp.dao.result.AmmeterDeviceResult" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="imei" property="imei" jdbcType="VARCHAR" />
        <id column="meter_no" property="meterNo" jdbcType="VARCHAR" />
        <id column="device_id" property="deviceId" jdbcType="VARCHAR" />
        <id column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <select id="checkAmmeterMeterNo"   resultMap="BaseAddressResultMap">
        select d.id,p.imei,d.meter_no,p.device_id,p.`name` from ammeter_device d ,ammeter_position p
where d.imsi = p.imei
and p.status in (1,6,7) and d.meter_no is null
and p.device_id is not null
    </select>
    <select id="queryOfflineDevice" resultMap="BaseAddressResultMap">
        select d.id,p.imei,d.meter_no,p.device_id,p.`name`
    from ammeter_position p
    INNER JOIN ammeter_device d on p.imei = d.imsi
    where p.`status` in(1,6,7) and p.device_id is not null
     and (TIMESTAMPDIFF(MINUTE,d.product_date,NOW())>= 35)
     and not EXISTS(select * from ammeter_warning w where w.ammeter_id = d.id and w.warning_type=1
     and w.warning_status =0)
    </select>

    <select id="validAmmeterDevice"   resultMap="BaseAddressResultMap">
        select d.id,p.imei,d.meter_no,p.device_id,p.`name` from ammeter_device d ,ammeter_position p
        where d.imsi = p.imei
        and p.status in (1,6) and d.meter_no is not null and LENGTH(d.meter_no) =12
        and p.device_id is not null
    </select>

    <update id="updateMeterNoByDeviceId" >
        update ammeter_device set meter_no =#{meterNo,jdbcType=VARCHAR}
        where imsi in (select imei from ammeter_position where device_id =#{deviceId,jdbcType=VARCHAR})
    </update>

    <update id="updateProductDateByDeviceId" >
        update ammeter_device set product_date =#{productDate,jdbcType=TIMESTAMP}
        where imsi in (select imei from ammeter_position where device_id =#{deviceId,jdbcType=VARCHAR})
    </update>
</mapper>