<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kashuo.kcp.dao.AmmeterAuthMapper">
  <resultMap id="BaseResultMap" type="com.kashuo.kcp.domain.AmmeterAuth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="token_type" jdbcType="VARCHAR" property="tokenType" />
    <result column="expires_in" jdbcType="INTEGER" property="expiresIn" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="app_key" jdbcType="VARCHAR" property="appkey" />
    <result column="secret_key" jdbcType="VARCHAR" property="secertKey" />
    <result column="platform_id" jdbcType="INTEGER" property="platformId" />
    <result column="server_url" jdbcType="VARCHAR" property="serverUrl" />
    <result column="project_url" jdbcType="VARCHAR" property="projectUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scope, token_type, expires_in, access_token, refresh_token, create_time, status,platform_id,app_key,secret_key,server_url,project_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ammeter_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAuthDetail"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ammeter_auth
    where status = 0 and platform_id=0
  </select>

  <select id="selectAuthByPlatformId"  resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from ammeter_auth
    where status = 0 and platform_id =#{platformId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ammeter_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kashuo.kcp.domain.AmmeterAuth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_auth (scope, token_type, expires_in, 
      access_token, refresh_token, create_time, 
      status)
    values (#{scope,jdbcType=VARCHAR}, #{tokenType,jdbcType=VARCHAR}, #{expiresIn,jdbcType=INTEGER}, 
      #{accessToken,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kashuo.kcp.domain.AmmeterAuth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scope != null">
        scope,
      </if>
      <if test="tokenType != null">
        token_type,
      </if>
      <if test="expiresIn != null">
        expires_in,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="refreshToken != null">
        refresh_token,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scope != null">
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null">
        #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null">
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kashuo.kcp.domain.AmmeterAuth">
    update ammeter_auth
    <set>
      <if test="scope != null">
        scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null">
        token_type = #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        expires_in = #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null">
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kashuo.kcp.domain.AmmeterAuth">
    update ammeter_auth
    set scope = #{scope,jdbcType=VARCHAR},
      token_type = #{tokenType,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=INTEGER},
      access_token = #{accessToken,jdbcType=VARCHAR},
      refresh_token = #{refreshToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



</mapper>