<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kashuo.kcp.dao.AmmeterPositionMapper" >
  <resultMap id="BaseResultMap" type="com.kashuo.kcp.domain.AmmeterPosition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="amap_longitude" property="amapLongitude" jdbcType="VARCHAR" />
    <result column="amap_latitude" property="amapLatitude" jdbcType="VARCHAR" />
    <result column="gps_longitude" property="gpsLongitude" jdbcType="VARCHAR" />
    <result column="gps_latitude" property="gpsLatitude" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="Activated" property="Activated" jdbcType="CHAR" />
    <result column="installer" property="installer" jdbcType="VARCHAR" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
    <result column="device_model" property="deviceModel" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="agreement_status" property="agreementStatus" jdbcType="VARCHAR" />
    <result column="contact_info" property="contactInfo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="device_project" property="deviceProject" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseQueryResultMap" type="com.kashuo.kcp.domain.AmmeterPosition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="amap_longitude" property="amapLongitude" jdbcType="VARCHAR" />
    <result column="amap_latitude" property="amapLatitude" jdbcType="VARCHAR" />
    <result column="gps_longitude" property="gpsLongitude" jdbcType="VARCHAR" />
    <result column="gps_latitude" property="gpsLatitude" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR"/>
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="installer" property="installer" jdbcType="VARCHAR" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="warning_status" property="warningStatus" jdbcType="VARCHAR" />
    <result column="warning_desc" property="warningDesc" jdbcType="VARCHAR" />
    <result column="Activated" property="Activated" jdbcType="CHAR" />
    <result column="work_status" property="workStatus" jdbcType="INTEGER" />
    <result column="device_project" property="deviceProject" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, number, address, amap_longitude, amap_latitude, gps_longitude, gps_latitude, 
    remark,status,create_by,create_time,imei,device_id,verify_code,psk,Activated,installer,'-' as status_name,
    device_model,company_name,agreement_status,contact_info,product_id,device_project
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    p.id, p.name, p.number, p.address, p.amap_longitude, p.amap_latitude, p.gps_longitude, p.gps_latitude,
    p.remark,p.status,p.create_by,p.create_time,p.imei,p.device_id,p.verify_code,p.psk,p.Activated,p.installer,s.desc as status_name,
    device_model,company_name,agreement_status,contact_info,product_id,device_project
    from ammeter_position p ,ammeter_status s
    where p.status = s.code and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByImei" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from ammeter_position
    where imei = #{imei,jdbcType=VARCHAR}
  </select>
  <select id="selectActiveByImei" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from ammeter_position
    where imei = #{imei,jdbcType=VARCHAR} and status != 3
  </select>
  <select id="selectPositionByStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ammeter_position
    where status = #{status,jdbcType=INTEGER}
  </select>
  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from ammeter_position
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>
    <select id="getPositionList" resultMap="BaseQueryResultMap" parameterType="com.kashuo.kcp.dao.condition.AmmeterPositionCondition">
      select p.id,p.device_id, p.name, p.number, p.address, p.amap_longitude, p.amap_latitude,
      p.gps_longitude, p.gps_latitude, p.remark,p.status,
      s.desc as status_name,IFNULL(info.`status`,2) as work_status,
      p.create_by,p.create_time,d.type,p.imei,p.installer,p.device_project,
      case when f.id is null then '0' else '1' end as warning_status,
      case when f.id is null then '' else f.warning_desc end as warning_desc
      from ammeter_position p INNER JOIN ammeter_user u on p.create_by = u.id
      INNER JOIN ammeter_status s on p.status = s.code
      INNER JOIN ammeter_device d on p.imei= d.imsi
      left JOIN
      ammeter_working_info info on d.id = info.ammeter_id
      LEFT join (select w.* from ammeter_warning w,
      (select max(id) id from ammeter_warning where warning_status = 0 group by ammeter_id) e
      where w.id = e.id ) f on f.ammeter_id = d.id WHERE p.status !=3
      <if test="channelId != null and channelId != ''" >
        and  u.channel_id =#{channelId,jdbcType=INTEGER}
      </if>
        <if test="number != null and number !=''" >
           and  p.name like CONCAT('%',#{number,jdbcType=VARCHAR},'%')
        </if>
        <if test="name != null and name !=''" >
            and  p.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
      <if test="imei != null and imei !=''" >
        and  p.imei like CONCAT('%',#{imei,jdbcType=VARCHAR},'%')
      </if>
        <if test="address != null and address != ''" >
            and  p.address like CONCAT('%',#{address,jdbcType=VARCHAR},'%')
        </if>
      order by p.create_time desc
    </select>

  <resultMap id="BaseHomeResultMap" type="com.kashuo.kcp.dao.result.PosotionHome"  >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="amap_longitude" property="amapLongitude" jdbcType="VARCHAR" />
    <result column="amap_latitude" property="amapLatitude" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR"/>
    <result column="warning_status" property="warningStatus" jdbcType="VARCHAR" />
    <result column="warning_desc" property="warningDesc" jdbcType="VARCHAR" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    </resultMap>

  <select id="getGISList" resultMap="BaseHomeResultMap" parameterType="com.kashuo.kcp.dao.condition.AmmeterPositionCondition">
    select p.id,p.device_id, p.name, p.amap_longitude, p.amap_latitude,
    p.remark,
    s.desc as status_name,
    p.imei,
    case when f.id is null then '0' else '1' end as warning_status,
    case when f.id is null then '' else f.warning_desc end as warning_desc
    from ammeter_position p INNER JOIN ammeter_user u on p.create_by = u.id
    INNER JOIN ammeter_device d on p.imei= d.imsi
    INNER JOIN ammeter_status s on p.status = s.code
    LEFT join (select w.* from ammeter_warning w,
    (select max(id) id from ammeter_warning where warning_status = 0 group by ammeter_id) e
    where w.id = e.id ) f on f.ammeter_id = d.id WHERE p.status !=3
    <if test="channelId != null and channelId != ''" >
      and  u.channel_id =#{channelId,jdbcType=INTEGER}
    </if>

      </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update  ammeter_position set status =1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.kashuo.kcp.domain.AmmeterPosition" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_position (name, number, address, 
      amap_longitude, amap_latitude, gps_longitude, 
      gps_latitude, remark,create_by,create_time,imei,installer,device_model,company_name,agreement_status
    ,contact_info,device_project)
    values (#{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{amapLongitude,jdbcType=VARCHAR}, #{amapLatitude,jdbcType=VARCHAR}, #{gpsLongitude,jdbcType=VARCHAR}, 
      #{gpsLatitude,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{createBy,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP}, #{imei,jdbcType=VARCHAR}, #{installer,jdbcType=VARCHAR},
    #{deviceModel,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{agreementStatus,jdbcType=VARCHAR},
    #{contactInfo,jdbcType=VARCHAR},#{deviceProject,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kashuo.kcp.domain.AmmeterPosition" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="amapLongitude != null" >
        amap_longitude,
      </if>
      <if test="amapLatitude != null" >
        amap_latitude,
      </if>
      <if test="gpsLongitude != null" >
        gps_longitude,
      </if>
      <if test="gpsLatitude != null" >
        gps_latitude,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="amapLongitude != null" >
        #{amapLongitude,jdbcType=VARCHAR},
      </if>
      <if test="amapLatitude != null" >
        #{amapLatitude,jdbcType=VARCHAR},
      </if>
      <if test="gpsLongitude != null" >
        #{gpsLongitude,jdbcType=VARCHAR},
      </if>
      <if test="gpsLatitude != null" >
        #{gpsLatitude,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kashuo.kcp.domain.AmmeterPosition" >
    update ammeter_position
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="amapLongitude != null" >
        amap_longitude = #{amapLongitude,jdbcType=VARCHAR},
      </if>
      <if test="amapLatitude != null" >
        amap_latitude = #{amapLatitude,jdbcType=VARCHAR},
      </if>
      <if test="gpsLongitude != null" >
        gps_longitude = #{gpsLongitude,jdbcType=VARCHAR},
      </if>
      <if test="gpsLatitude != null" >
        gps_latitude = #{gpsLatitude,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="installer != null">
        installer = #{installer,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null" >
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="psk != null" >
        psk = #{psk,jdbcType=VARCHAR},
      </if>
      <if test="Activated != null" >
        Activated = #{Activated,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deviceModel != null">
        device_model = #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="agreementStatus != null">
        agreement_status = #{agreementStatus,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null">
        contact_info = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="deviceProject != null">
        device_project = #{deviceProject,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kashuo.kcp.domain.AmmeterPosition" >
    update ammeter_position
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      amap_longitude = #{amapLongitude,jdbcType=VARCHAR},
      amap_latitude = #{amapLatitude,jdbcType=VARCHAR},
      gps_longitude = #{gpsLongitude,jdbcType=VARCHAR},
      gps_latitude = #{gpsLatitude,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatusByDeviceId" parameterType="com.kashuo.kcp.domain.AmmeterPosition">
    update ammeter_position set status = #{status,jdbcType=INTEGER}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>

</mapper>