/target
.settings
.project
.classpath
*.DS_Store
/target
*.log
.idea
.mvn
mvnw
mvnw.cmd
*.iws
*.iml
*.ipr
kop-server-end-play
*.class
*.cache
*/target/*
*.versionsBackup

kop-mobile-gateway-serverend/src/main/java/com/kashuo/kop/mobile/gateway/TerminalControllerAspect.java
kop-mobile-gateway-serverend/src/main/java/com/kashuo/kop/mobile/gateway/controller/IController.java
